<nav>
    <ul>
        <li><a href="/" class="link<%= locals?.page === "index" ? " active" : "" %>">Main</a></li>
        <li><a href="/newbook" class="link<%= locals?.page === "newbook" ? " active" : "" %>">New book</a></li>
    </ul>
</nav>