<%- include("../partials/header"); %>
<main>
    <div class="container">
        <h2>About</h2>
        <p>
            this is about page
        </p>
    </div>
</main>
<%- include("../partials/footer"); %> 