<% 
    const links = [
        ["/", "index", "Main"],
        ["/newbook", "newbook", "New Book"],
        ["/about", "about", "About"]
    ];
%>

<nav>
    <ul>
        <% links.forEach(link => { %>
            <li><a href="<%= link[0] %>" class="link<%= locals?.page === link[1] ? " active" : "" %>"><%= link[2] %></a></li>
        <% }) %>
    </ul>
</nav>